.cursos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cursos__tittleContainer {
  display: flex;
  justify-content: left;
  align-items: left;
  color: black;
}
.cursos__tittleContainer h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}
.cursos__flip__card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.cursos__flip__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cursos__flip__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.cursos__flip__card:hover .cursos__flip__card__inner {
  transform: rotateY(180deg);
}
.cursos__flip__card__front,
.cursos__flip__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cursos__flip__card__front {
  color: black;
}
.cursos__flip__card__back {
  background-color: #a436f0;
  color: white;
  transform: rotateY(180deg);
}
@media (min-width: 768px) {
  .cursos__tittleContainer h1 {
    font-size: 50px;
  }
}
@media (min-width: 1440px) {
  .cursos__tittleContainer h1 {
    font-size: 70px;
  }
}
